// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.videos_row {
  display: flex;
}

.video {
  padding: 1em;
  margin:  1em;

  border: 1px solid #808080;
  background-color: white;
  box-shadow: 0 4px 8px 0 #888888;

  flex-shrink: 1;
}

.video_desc {
  white-space: pre-wrap;
  font-size: 90%;
}

.video_desc_header {
  margin-bottom: 0;
}

.new_video_title {
  margin-top: 0;
}
//form.new_video {
//  margin-top: 1em;
//}

.assign_boards {
  padding-bottom: 0.5em;
  padding-top:    0.5em;
}
